*/.DS_Store
.DS_Store
# docs/Evan_Kozierok_Resume.pdf


# cursed garbage to ignore all the linkedin logos except the one I need
docs/img/LinkedIn-Logos/*
!docs/img/LinkedIn-Logos/In
docs/img/LinkedIn-Logos/In/*
!docs/img/LinkedIn-Logos/In/Print
docs/img/LinkedIn-Logos/In/Print/*
!docs/img/LinkedIn-Logos/In/Print/PMS
docs/img/LinkedIn-Logos/In/Print/PMS/*
!docs/img/LinkedIn-Logos/In/Print/PMS/In-Large-Black.svg