/* temporary: will download once I'm happy */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================= */

/* Color scheme vars */

:root {
	--hue-red: 0;
	--hue-orange: 30;
	--hue-yellow: 60;
	--hue-green: 120;
	--hue-blue: 210;

	--lgt-0: 0%;
	--lgt-1: 10%;
	--lgt-2: 20%;
	--lgt-3: 30%;
	--lgt-4: 40%;
	--lgt-5: 50%;
	--lgt-6: 60%;
	--lgt-7: 70%;
	--lgt-8: 80%;
	--lgt-9: 90%;
	--lgt-10: 100%;
	--lgt-95: 95%;
	--lgt-98: 98%;


	--sat-05: 5%;
	--sat-0: 0%;
	--sat-1: 10%;
	--sat-2: 20%;
	--sat-3: 30%;
	--sat-4: 40%;
	--sat-5: 50%;
	--sat-6: 60%;
	--sat-7: 70%;
	--sat-8: 80%;
	--sat-9: 90%;
	--sat-10: 100%;

	/* default page hues */
	--hue-home: var(--hue-red);
	--hue-about: var(--hue-orange);
	--hue-resume: var(--hue-yellow);
	--hue-misc: var(--hue-green);
	--hue-dnd: var(--hue-blue);
}

/* General styles */
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	background-color: hsl(var(--hue-page, 210), var(--sat-9), var(--lgt-98)); /* #f8f8f8; */
	font-size: 14pt;
	line-height: 1.25;
	height: 100%;
}

main {
	max-width: 90%;
	margin: 0 auto;
	flex: 1 0 auto;
}

p {
	margin: 1em 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 1.5em 0;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 300%;
}
h2 {
	font-size: 200%;
}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 125%;
}

ol, ul {
	list-style: disc inside;
	padding-left: 2em; /* helps with indentation */
}

figure {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

figcaption {
	text-align: center;
	background-color: #EEE;
	padding: 0.5em;
}

figure > *:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

figure > *:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.side-by-side {
	display: flex;
	justify-items: center;	
}

.side-by-side figure {
	min-width: 0;
}


a[href*="github.com"] {
	display: block;
	background: url("img/GitHub-Mark/Vector/SVG/GitHub-Mark-Small-Dark.svg") 5px 50%/32px no-repeat;
	padding: 5px 5px 5px 42px;
	min-height: 32px;
	line-height: 32px;
	border: 2px solid #444444;
	border-radius: 5px;
	background-color: #171515;
	color: #eee;
	text-decoration: none;
}

.bottom-spacer {
	height: 2em;
}

/* Nav Styles */

.menu {
	display: grid;
	height: auto;
	min-height: 2em;
	/* justify-content: space-around; */
	grid-template-columns: repeat(5, 1fr);
}

.menu a {
	display: flex;
	align-items: center;
	justify-items: center;
	color: black;
	text-decoration: none;
	/* background-color: hsl(var(--hue-blue), var(--sat-10), var(--lgt-7)); */
	--hue: var(--hue-blue); /* default val */
	--sat: var(--sat-10);
	--lgt: var(--lgt-7);
	background-color: hsl(var(--hue), var(--sat), var(--lgt));
	border: solid #444444;
	border-width: 0 1px 2px 1px;
	z-index: 1;

}

.menu a:hover {
	/* background-color: #a3d3ff; */
	/* background-color: hsl(210, 100%, 80%); */
	/* background-color: hsl(var(--hue-blue), var(--sat-10), var(--lgt-8)); */
	--lgt: var(--lgt-8);
}

.menu a:nth-child(1) {
	--hue: var(--hue-red);
}
.menu a:nth-child(2) {
	--hue: var(--hue-orange);
}
.menu a:nth-child(3) {
	--hue: var(--hue-yellow);
}
.menu a:nth-child(4) {
	--hue: var(--hue-green);
}
.menu a:nth-child(5) {
	--hue: var(--hue-blue);
}

.menu a:first-child {
	border-left-width: 0px;
}
.menu a:last-child {
	border-right-width: 0px;
}

.menu div {
	text-align: center;
	width: 100%;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
	height: 50px;
	background-color: hsl( var(--hue-page), var(--sat-4), var(--lgt-4) );
	flex-shrink: 0;
}

.links {
	display: flex;
	align-items: center;
}

.links > a {
	margin: 0 8px;
}

#github-profile {
	background: url("img/GitHub-Mark/Vector/SVG/GitHub-Mark-Small-Light.svg") 0 50%/32px no-repeat;
	background-color: none;
	padding: 5px;
	border-width: 0;
	height: 32px;
	width: 32px;
}

#copyright {
	padding-left: 8px;
}

/* Homepage */

#headshot {
	max-width: 33%;
	/* flex: 0 1 25%; */
	float: left;
	
}

#headshot img {
	border-radius: 25%;
}

/* About me */

.about {
	display: flex;
	align-items: center;
}

.about figure {
	max-width: 33%;
}

.about:nth-of-type(even) figure {
	order: 1;
}

/* Resume/Miscwork */

.resume-item, .edu-overview, .miscwork-item {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1em;
	padding: 1em;
	margin: 1em 0;
	border: 2px solid #666666;
	border-radius: 5px;
	background-color: #DDD;
}

.resume-item > *, .edu-overview > *, .miscwork-item > * {
	border: 2px solid #444444;
	border-radius: 5px;
	background-color: #CCC;
	padding: 1em;
}

.resume-item > figure, .edu-overview > figure, .miscwork-item > figure {
	margin: 0;
	grid-column: 1 / -1;
	padding: 0;
}

.item-name *:first-child {
	font-weight: bold;
}

.item-context {
	text-align: right;

}

.item-desc {
	grid-column: 1 / -1;
}

#the-king-of-the-jungle audio::-webkit-media-controls-panel {
	/* this rule colors the actual controls, 
	   while the `audio` rule styles the containing block */
	background-color: #EEE;
}

#the-king-of-the-jungle audio {
	background-color: #EEE;
	/* border-radius: 0px; */
	width: 100%;
}

/* pram2mesa image slider
   Credit: https://codyhouse.co/gem/css-jquery-image-comparison-slider/ */

   .cd-image-container {
	position: relative;
	max-width: 768px;
	margin: 0em auto;
  }
  .cd-image-container img {
	display: block;
	border-radius: 3px;
  }
  
  .cd-image-label {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  }
  .cd-image-label.is-hidden {
	visibility: hidden;
  }
  .is-visible .cd-image-label {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  
  .cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .cd-resize-img img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: auto;
	max-width: none;
  }
  .cd-resize-img .cd-image-label {
	right: auto;
	left: 0;
  }
  .is-visible .cd-resize-img {
	width: 50%;
	/* bounce in animation of the modified image */
	-webkit-animation: cd-bounce-in 0.7s;
	-moz-animation: cd-bounce-in 0.7s;
	animation: cd-bounce-in 0.7s;
  }
  
  @-webkit-keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  @-moz-keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  @keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  .cd-handle {
	position: absolute;
	height: 44px;
	width: 44px;
	/* center the element */
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	border-radius: 50% !important; /* overrides "figure > *:last-child */
	background: #dc717d url("img/cd-arrows.svg") no-repeat center center;
	cursor: move;
	box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	-o-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
	touch-action: none;
  }
  .cd-handle.draggable {
	/* change background color when element is active */
	background-color: #445b7c;
  }
  .is-visible .cd-handle {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  }

/* D&D Styles */

.session-log {
	padding: 1em;
	margin: 0.5em;
	/* background-color: bisque; */
	background-color: hsl( var(--hue-page), var(--sat-6), var(--lgt-8) );
	border: 2px solid black;
	border-radius: 5px;
}

.session-log > summary {
	font-size: 16pt;
}

.strikeout {
	text-decoration: line-through;
}

.spoilers {
	color: #a50e0e;
	font-weight: bold;
	font-size: 1.5em;
}

.figtitle {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

.figsubtitle {
	font-size: 0.8em;
	font-style: italic;
	/* font-variant: small-caps; */
	/* text-transform: uppercase; */
}

/* Responsive styles */

/* phones */
@media screen and (max-width: 480px) {
	
}

/* tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
	
}

/* full screens */
@media screen and (min-width: 769px) {
	main {
		max-width: min(768px, 90%);
	}
}

/* 